<section class="facts">
    <h2 class="facts__heading">
        <span class="heading heading-black">Quick </span>
        <span class="heading heading-grey">Facts</span>
    </h2>
    <ul class="facts__list">
        <li class="facts__item">
            <b class="facts__lead">90%</b>
            <p class="facts__text">
                Reach of Midwest Distribution of the US within 3-days via ground shipping
            </p>
        </li>
        <li class="facts__item">
            <b class="facts__lead">300K+</b>
            <p class="facts__text">
                square feet production<br>& warehouse space
            </p>
        </li>
        <li class="facts__item">
            <b class="facts__lead">65%</b>
            <p class="facts__text">
                of our top clients rely on a Quantum technology solution in support of their business
            </p>
        </li>
    </ul>
</section>
