doctype html
html(class="no-js", lang="en")

    include ../components/head/head

    head
        +head(head.defaults)
    body
        |%=symbols=%


        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='%=static=%js/separate-js/jquery-3.2.1.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
