.descr {
    display: flex;

    position: relative;

    font: 400 18px/34px "Geometria";

    background: rgba(209, 209, 212, .1);

    @media (max-width: 719px) {
        flex-direction: column;
    }
}

.descr__we {
    flex: 0 0 50%;

    padding: 220px 0 180px 150px;

    @media (max-width: 1279px) {
        padding-top: 180px;
        padding-bottom: 130px;
    }

    @media (max-width: 979px) {
        padding-left: 100px;
    }

    @media (max-width: 879px) {
        padding-left: 55px;
    }

    @media (max-width: 719px) {
        flex-basis: auto;

        padding: 120px 50px;
    }
}

.descr__headingText {
    font: 700 60px/1 "Geometria";

    &-black {
        color: #333333;
    }

    &-grey {
        color: #d1d1d4;
    }
}

.descr__text {
    width: 450px;
    margin: 35px 0;
    padding: 0;

    color: #9d9fa2;
    text-align: left;
    
    @media (max-width: 1279px) {
        width: 300px;
    }

    @media (max-width: 719px) {
        width: 80%;
    }
}

.descr__lead {
    flex: 0 0 50%;

    padding: 375px 0 210px 110px;

    background: url("%=static=%assets/desc/img-weare.png") center no-repeat;
    background-size: 720px 768px;

    @media screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 2) {
        background: url("%=static=%assets/desc/img-weare@2x.png") center no-repeat;
        background-size: 720px 768px;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 3), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx), only screen and (min-device-pixel-ratio: 3) {
        background: url("%=static=%assets/desc/img-weare@3x.png") center no-repeat;
        background-size: 720px 768px;
    }

    @media (max-width: 979px) {
        padding-left: 75px;
    }
    
    @media (max-width: 879px) {
        padding-left: 35px;
    }

    @media (max-width: 719px) {
        flex-basis: auto;

        padding: 180px 50px;
    }
}

.descr__leadText {
    display: block;
    width: 380px;

    font: 700 60px/60px "Geometria";
    color: #fff;

    @media (max-width: 1279px) {
        font-size: 50px;
    }

    @media (max-width: 719px) {
        width: 80%;
    }
    @media (max-width: 374px) {
        font-size: 40px;
    }
}
