<section class="diff">
    <h2 class="diff__heading">
        <span class="heading heading-black">Quantum </span>
        <span class="heading heading-grey">Difference</span>
    </h2>
    <p class="diff__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <ul class="diff__list">
        <li class="diff__item">
            <b class="diff__itemHeading">
                increase reach
            </b>
            <p class="diff__itemText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </li>
        <li class="diff__item">
            <b class="diff__itemHeading">
                drive customer interaction
            </b>
            <p class="diff__itemText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </li>
        <li class="diff__item">
            <b class="diff__itemHeading">
                Achieve revenue goals
            </b>
            <p class="diff__itemText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </li>
    </ul>
</section>
