<section class="featGal">
    <h2 class="featGal__heading">Featured</h2>
    <div class="featGal__list">
        <a href="static/img/assets/featGal/bg-featGal-1@3x.jpg" data-lightbox="featGal" class="featGal__link featGal__link-1"></a>
        <a href="static/img/assets/featGal/bg-featGal-2@3x.jpg" data-lightbox="featGal" class="featGal__link featGal__link-2"></a>
        <a href="static/img/assets/featGal/bg-featGal-3@3x.jpg" data-lightbox="featGal" class="featGal__link featGal__link-3"></a>
        <a href="static/img/assets/featGal/bg-featGal-4@3x.jpg" data-lightbox="featGal" class="featGal__link featGal__link-4"></a>
        <a href="static/img/assets/featGal/bg-featGal-5@3x.jpg" data-lightbox="featGal" class="featGal__link featGal__link-5"></a>
        <a href="static/img/assets/featGal/bg-featGal-6@3x.jpg" data-lightbox="featGal" class="featGal__link featGal__link-6"></a>
        <a href="static/img/assets/featGal/bg-featGal-7@3x.jpg" data-lightbox="featGal" class="featGal__link featGal__link-7"></a>
    </div>
</section>
