<section class="revsSlider">
    <h2 class="revsSlider__heading heading">Testimonials</h2>
    <div class="revsSlider__list">
        <div class="revsSlider__slideWrap">
            <div class="revsSlider__slide">
                <div class="revsSlider__imgWrap">
                    <picture>
                        <source srcset="static/img/content/img-revs@3x.jpg" media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)">
                        <source srcset="static/img/content/img-revs@2x.jpg" media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)">
                        <img src="static/img/content/img-revs.jpg" alt="" width="220" height="220">
                    </picture>
                </div>
                <div class="revsSlider__textWrap">
                    <b class="revsSlider__lead">John Doe, Verizon</b>
                    <p class="revsSlider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <div class="revsSlider__slideWrap">
            <div class="revsSlider__slide">
                <div class="revsSlider__imgWrap">
                    <picture>
                        <source srcset="static/img/content/img-revs@3x.jpg" media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)">
                        <source srcset="static/img/content/img-revs@2x.jpg" media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)">
                        <img src="static/img/content/img-revs.jpg" alt="" width="220" height="220">
                    </picture>
                </div>
                <div class="revsSlider__textWrap">
                    <b class="revsSlider__lead">John Doe, Verizon</b>
                    <p class="revsSlider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <div class="revsSlider__slideWrap">
            <div class="revsSlider__slide">
                <div class="revsSlider__imgWrap">
                    <picture>
                        <source srcset="static/img/content/img-revs@3x.jpg" media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)">
                        <source srcset="static/img/content/img-revs@2x.jpg" media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)">
                        <img src="static/img/content/img-revs.jpg" alt="" width="220" height="220">
                    </picture>
                </div>
                <div class="revsSlider__textWrap">
                    <b class="revsSlider__lead">John Doe, Verizon</b>
                    <p class="revsSlider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <div class="revsSlider__slideWrap">
            <div class="revsSlider__slide">
                <div class="revsSlider__imgWrap">
                    <picture>
                        <source srcset="static/img/content/img-revs@3x.jpg" media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)">
                        <source srcset="static/img/content/img-revs@2x.jpg" media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)">
                        <img src="static/img/content/img-revs.jpg" alt="" width="220" height="220">
                    </picture>
                </div>
                <div class="revsSlider__textWrap">
                    <b class="revsSlider__lead">John Doe, Verizon</b>
                    <p class="revsSlider__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
