html, body {
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.page {
    width: 100%;
}

.page__wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.heading {
    font: 700 60px/1 "Geometria";
    text-align: center;

    &-black {
        color: #333333;
    }

    &-grey {
        color: #d1d1d4;
    }

    @media (max-width: 719px) {
        font-size: 40px;
    }
}