<section class="scrollSlider">
    <div class="scrollSlider__list">
        <div class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </div>
        <div class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </div>
        <div class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </div>
        <div class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </div>
    </div>
</section>
