<section class="scrollSlider">
    <ul class="scrollSlider__list">
        <li class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </li>
        <li class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </li>
        <li class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </li>
        <li class="scrollSlider__slideWrap">
            <div class="scrollSlider__slide">
                <b class="scrollSlider__lead">We build complex marketing solutions that connect you with your target audience</b>
            </div>
        </li>
    </ul>
</section>
