<footer class="footer">
    <div class="footer__inner">
        <form action="" method="post" class="footer__form fooForm">
            <label for="fooForm__input" class="fooForm__label">Subscribe to our news</label>
            <div class="fooForm__wrap">
                <input name="email" type="email" id="fooForm__input" class="fooForm__input" placeholder="Your email">
                <button class="fooForm__button" type="submit"></button> 
            </div>
        </form>
        <nav class="footer__nav">
            <ul class="fooNav__list">
                <li class="fooNav__item"><a href="#" class="fooNav__link">About</a></li>
                <li class="fooNav__item fooNav__item-popup">
                    <a href="#" class="fooNav__link fooNav__link-serv">Services</a>
                    <ul class="fooNav__popupList fooNav__popupList-serv">
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                    </ul>
                </li>
                <li class="fooNav__item fooNav__item-popup">
                    <a href="#" class="fooNav__link fooNav__link-markets">Markets</a>
                    <ul class="fooNav__popupList fooNav__popupList-markets">
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                    </ul>
                </li>
                <li class="fooNav__item fooNav__item-popup">
                    <a href="#" class="fooNav__link fooNav__link-work">Our Work</a>
                    <ul class="fooNav__popupList fooNav__popupList-work">
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                        <li class="fooNav__popupItem"><a href="#" class="fooNav__popupLink">item</a></li>
                    </ul>
                </li>
                <li class="fooNav__item"><a href="#" class="fooNav__link">Blog</a></li>
                <li class="fooNav__item"><a href="#" class="fooNav__link">Contact</a></li>
            </ul>
        </nav>
        <div class="footer__links">
            <article class="socials">
                <a href="#" class="socials__btn socials__btn-twi">twitter</a>
                <a href="#" class="socials__btn socials__btn-face">facebook</a>
                <a href="#" class="socials__btn socials__btn-in">in</a>
            </article>
            <p class="footer__dev devs">
                <span class="devs__rights">© 2017 Quantum Group. All rights reserved</span>
                <span class="devs__by">Design by <a href="#" class="devs__link">Comrade Web Agency</a></span>
            </p>
        </div>
    </div>
</footer>
