<section class="featCli">
    <h2 class="featCli__heading">
        <span class="featCli__text featCli__text-black">Featured</span>
        <span class="featCli__text featCli__text-grey">Clients</span>
    </h2>
    <ul class="featCli__list">
        <li class="featCli__item"><a href="#" class="featCli__link featCli__link-verizon">verizon</a></li>
        <li class="featCli__item"><a href="#" class="featCli__link featCli__link-modelo">modelo</a></li>
        <li class="featCli__item"><a href="#" class="featCli__link featCli__link-corona">corona</a></li>
        <li class="featCli__item"><a href="#" class="featCli__link featCli__link-newport">newport</a></li>
        <li class="featCli__item"><a href="#" class="featCli__link featCli__link-bio">biodelivery</a></li>
        <li class="featCli__item"><a href="#" class="featCli__link featCli__link-orion">orion</a></li>
    </ul>
</section>
