.logos {
    display: flex;
    align-items: center;

    font-size: 0;
    text-align: center;

    @media (max-width: 719px) {
        flex-direction: column;
        align-items: stretch;
    }
}

.logos__wrap {
    flex: 1 1 auto;

    width: 33.3%;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(209, 209, 212, .1);

    &:nth-child(2n) {
        background: rgba(209, 209, 212, .2);
    }

    @media (max-width: 719px) {
        width: 100%;
        height: 250px;
    }
}

.logos__link {
    display: block;
}

