<section class="logos">
    <div class="logos__wrap">
        <a href="#" class="logos__link">
            <img src="static/img/content/hipaa.svg" width="173" height="119" alt="hipaa" class="logos__img">
        </a>
    </div>
    <div class="logos__wrap">
        <a href="#" class="logos__link">
            <img src="static/img/content/fisma.svg" width="241" height="63" alt="fisma" class="logos__img">
        </a>
    </div>
    <div class="logos__wrap">
        <a href="#" class="logos__link">
            <img src="static/img/content/aicpa.svg" width="192" height="176" alt="aicpa" class="logos__img">
        </a>
    </div>
</section>
