<header class="pageHeader">
    <a href="#" class="pageHeader__logoWrap">
        <img src="%=static=%img/minified-svg/header-logo.svg" alt="" class="pageHeader__logo">
    </a>
    <nav class="pageNav pageHeader__nav">
        <button class="pageNav__item pageNav__item-mob">Menu</button>
        <ul class="pageNav__list">
            <li class="pageNav__item"><a href="#" class="pageNav__link">About</a></li>
            <li class="pageNav__item pageNav__item-popup">
                <a href="#" class="pageNav__link">Services</a>
                <ul class="pageNav__popupList">
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                </ul>
            </li>
            <li class="pageNav__item pageNav__item-popup">
                <a href="#" class="pageNav__link">Markets</a>
                <ul class="pageNav__popupList">
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                </ul>
            </li>
            <li class="pageNav__item pageNav__item-popup">
                <a href="#" class="pageNav__link">Our Work</a>
                <ul class="pageNav__popupList">
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                </ul>
            </li>
            <li class="pageNav__item"><a href="#" class="pageNav__link">Blog</a></li>
            <li class="pageNav__item"><a href="#" class="pageNav__link">Contact</a></li>
        </ul>
    </nav>
    <a href="#" class="pageHeader__btn">talk to us</a>
</header>
