<header class="pageHeader">
    <div class="pageHeader__inner">
        <a href="#" class="pageHeader__logoWrap">
            <img src="%=static=%img/minified-svg/header-logo.svg" alt="" class="pageHeader__logo">
        </a>
        <nav class="pageNav pageHeader__nav">
            <button class="pageNav__item pageNav__item-mob" type="button">Menu</button>
            <ul class="pageNav__list">
                <li class="pageNav__item"><a href="#about" class="pageNav__link">About</a></li>
                <li class="pageNav__item pageNav__item-popup">
                    <a href="#serv" class="pageNav__link pageNav__link-serv">Services</a>
                    <ul class="pageNav__popupList pageNav__popupList-serv">
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    </ul>
                </li>
                <li class="pageNav__item pageNav__item-popup">
                    <a href="#mark" class="pageNav__link pageNav__link-markets">Markets</a>
                    <ul class="pageNav__popupList pageNav__popupList-markets">
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    </ul>
                </li>
                <li class="pageNav__item pageNav__item-popup">
                    <a href="#work" class="pageNav__link pageNav__link-work">Our Work</a>
                    <ul class="pageNav__popupList pageNav__popupList-work">
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                        <li class="pageNav__popupItem"><a href="#" class="pageNav__popupLink">item</a></li>
                    </ul>
                </li>
                <li class="pageNav__item"><a href="#blog" class="pageNav__link">Blog</a></li>
                <li class="pageNav__item"><a href="#contact" class="pageNav__link">Contact</a></li>
            </ul>
        </nav>
        <a href="#contact" class="pageHeader__btn">talk to us</a>
    </div>
</header>
