<section class="form" id="contact">
    <div class="form__imgWrap">
        <!-- <picture>
            <source media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)" srcset="static/img/assets/form/form-img@3x.jpg">
            <source media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)" srcset="static/img/assets/form/form-img@2x.jpg">
            <img class="blog__postImg" src="static/img/assets/form/form-img.jpg" alt="">
        </picture> -->
    </div>
    <div class="form__contentWrap">
        <div class="form__content">
            <b class="form__heading">We are eager to work with you!</b>
            <form action="" method="POST" class="form__form">
                <input name="name" type="text" class="form__input" placeholder="Your name">
                <input name="phone" type="tel" class="form__input" placeholder="Phone">
                <input name="mail" type="email" class="form__input" placeholder="Email">
                <textarea name="message" class="form__input form__input-area" placeholder="Message"></textarea>
                <button type="submit" class="btn form__btn">submit</button>
            </form>
        </div>
    </div>
</section>
