<section class="gal">
    <div class="gal__title">
        <b class="gal__lead">Our Work</b>
        <span class="gal__icon"></span>
        <a href="#" class="gal__btn btn">view all</a>
    </div>
    <div class="gal__slider slider">
        <div class="slider__item slider__item-one">
            <div class="slide">
                <div class="slide__hover">
                    <b class="slide__lead">North America Branding</b>
                    <span class="slide__text">Setting Client's brand in motion</span>
                    <a href="#" class="slide__btn btn">view case</a>                                                        
                </div>
            </div>
        </div>
        <div class="slider__item slider__item-two">
            <div class="slide">
                <div class="slide__hover">
                    <b class="slide__lead">North America Branding</b>
                    <span class="slide__text">Setting Client's brand in motion</span>
                    <a href="#" class="slide__btn btn">view case</a>                                                        
                </div>
            </div>
        </div>
        <div class="slider__item slider__item-three">
            <div class="slide">
                <div class="slide__hover">
                    <b class="slide__lead">North America Branding</b>
                    <span class="slide__text">Setting Client's brand in motion</span>
                    <a href="#" class="slide__btn btn">view case</a>                                                        
                </div>
            </div>
        </div>
        <div class="slider__item slider__item-four">
            <div class="slide">
                <div class="slide__hover">
                    <b class="slide__lead">North America Branding</b>
                    <span class="slide__text">Setting Client's brand in motion</span>
                    <a href="#" class="slide__btn btn">view case</a>                                                        
                </div>
            </div>
        </div>
    </div>
    <span class="gal__caption">Case <span class="gal__caption-grey">Studies</span></span>
</section>
