.gal{
    padding: 85px 0 120px;

    position: relative;

    background-color: #d1d1d4;

    font: bold 18px "Geometria";
    color: #fff;
    
    @media (max-width: 639px) {
        padding: 40px 0 60px;
    }
}

.gal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 45px;
    padding: 0 150px 0;

    @media (max-width: 949px) and (min-width: 640px) {
        padding-right: 50px;
    }
    
    @media (max-width: 639px) {
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding: 0 25px;

    }
    @media (max-width: 369px) {
        padding: 0 10px;
    }
}

.gal__btn {
    border: 2px solid #ffffff;

    background: transparent;

    &:hover {
        background: #ffffff;

        color: #d1d1d4;
    }

    @media (max-width: 639px) {
        padding: 14px 16px 12px;
    }
}

.gal__lead {
    font-size: 30px;
    line-height: 0.9;
    
    @media (min-width: 640px) {
        font-size: 40px;
    }

    @media (min-width: 950px) {
        font-size: 60px;
    }
}

.gal__icon {
    width: 40px;
    height: 40px;

    background-image: url("%=static=%minified-svg/pointer.svg");

    @media (max-width: 639px) {
        width: 20px;
        height: 20px;
    }
}

.gal__caption {
    position: absolute;
    left: -50px;
    bottom: 250px;

    transform: rotate(-90deg);

    font-size: 50px;
    line-height: 1.1;

    &-grey {
        color: #9d9fa2;
    }

    @media (max-width: 639px) {
        display: block;
        padding-top: 20px;
        
        position: static;
        transform: none;

        font-size: 30px;
        text-align: center;
    }
}

.slider {
    display: flex;
    height: 447px;

    position: relative;

    margin: 0;
    padding: 0;
    padding-left: 150px;

    &::after {
        content: "";

        width: 230px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        background-image: linear-gradient(to left, #000000, rgba(0, 0, 0, 0));

        transition: 0.3s;

        opacity: 1;

        @media (max-width: 639px) {
            display: none;
        }
    }

    &-last {
        &::after {
            opacity: 0;
        }
    }

    @media (max-width: 639px) {
        width: 490px;
        margin: 0 auto;
        padding: 0;
    }

    @media (max-width: 489px) {
        width: 100%;
    }
}

.slider__item {
    width: 490px;
    height: 447px;

    position: relative;

    flex-shrink: 0;
    align-self: stretch;

    list-style: none;

    @media (max-width: 489px) {
        width: 100vw;
    }

    &-one {
        background: #da3832 url("%=static=%assets/workSlider/verizon-logo.png") center center no-repeat;
        background-size: 292px 104px; 
   
        @media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-device-pixel-ratio: 2) {
            background-image: url("%=static=%assets/workSlider/verizon-logo@2x.png");
        }
            
        @media screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx), screen and (min-device-pixel-ratio: 3) {
            background-image: url("%=static=%assets/workSlider/verizon-logo@3x.png");
        }   
    }

    &-two {
        background: #000 url("%=static=%assets/workSlider/gal-img.jpg") center top; 
        background-size: 490px 447px; 
    
        @media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-device-pixel-ratio: 2) {
           background-image: url("%=static=%assets/workSlider/gal-img@2x.jpg");
           background-size: 490px 447px; 
        }
    
        @media screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx), screen and (min-device-pixel-ratio: 3) {
            background-image: url("%=static=%assets/workSlider/gal-img@3x.jpg");
            background-size: 490px 447px; 
        }
    }

    &-three {
        background: #47ace9 url("%=static=%assets/workSlider/verizon-logo.png") center center no-repeat;
        background-size: 292px 104px; 
   
        @media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-device-pixel-ratio: 2) {
            background-image: url("%=static=%assets/workSlider/verizon-logo@2x.png");
        }
            
        @media screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx), screen and (min-device-pixel-ratio: 3) {
            background-image: url("%=static=%assets/workSlider/verizon-logo@3x.png");
        }
    }
    
    &-four {
        background: #ae47e9 url("%=static=%assets/workSlider/verizon-logo.png") center center no-repeat;
        background-size: 292px 104px; 
   
        @media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-device-pixel-ratio: 2) {
            background-image: url("%=static=%assets/workSlider/verizon-logo@2x.png");
        }
            
        @media screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx), screen and (min-device-pixel-ratio: 3) {
            background-image: url("%=static=%assets/workSlider/verizon-logo@3x.png");
        }
    }
}

.slide {
    width: 100%;
    height: 447px;

    position: relative;

    font: 500 18px/1.2 "Geometria";
    color: #fff;

    text-align: center;

    &:hover {
        .slide__hover {
            opacity: 1;
        }
    }
}

.slide__hover {
    display: flex;

    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .55);

    opacity: 0;

    transition: 0.2s;
}

.slide__lead {
    margin-top: 107px;

    font-weight: 700;
    font-size: 50px;
    line-height: 0.85;

    @media (max-width: 422px) {
        font-size: 35px;
        line-height: 1;
    }
}

.slide__text {
    width: 250px;
    margin-top: 25px;
}

.slide__btn {
    margin-top: 34px;
    border: 2px solid #ffffff;

    background: transparent;

    &:hover {
        background: #ffffff;

        color: #000000;
    }
}
