<section class="markets" id="mark">
    <h2 class="markets__heading">
        <span class="heading heading-black">Markets </span>
        <span class="heading heading-grey">We Serve</span>
    </h2>
    <ul class="markets__list">
        <li class="markets__item">
            <b class="markets__lead">Higher education</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">retail<br>& franchise</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">pharmaceutical</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">financial<br>& insurance services</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">Senior Care</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">hospitality<br>& gaming</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">healthcare</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">Service Provider<br>& Manufacturing</b>
            <p class="markets__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him.
                <a href="#" class="markets__link"></a></p>
            <a href="#" class="markets__link"></a>
        </li>
        <li class="markets__item">
            <b class="markets__lead">How Can We Serve You?</b>
            <a href="#" class="markets__btn btn">contact us</a>
        </li>
    </ul>
</section>
