<section class="blog">
    <div class="blog__headingWrap">
        <h2 class="blog__heading">Blog</h2>
        <a href="#" class="btn blog__btn">read blog</a>
    </div>
    <article class="blog__post">
        <div class="blog__postImgWrap">
            <picture>
                <source media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)" srcset="static/img/assets/blog/blog-bost-img@3x.jpg">
                <source media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)" srcset="static/img/assets/blog/blog-post-img@2x.jpg">
                <img class="blog__postImg" src="static/img/assets/blog/blog-post-img.jpg" alt="">
            </picture>
        </div>
        <div class="blog__paragraph">
            <b class="blog__category">Category</b>
            <h3 class="blog__postHeading">The Guide To Living Creatively</h3>
            <time class="blog__postDate">5.05.2017</time>
            <p class="blog__postText">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall. It was evidently a court-room, and a crowd of Europeans.</p>
            <a href="#" class="blog__link">Read More</a>
        </div>
    </article>
    <ul class="blog__list">
        <li class="blog__item">   
            <div class="blog__imgWrap">
                <picture>
                    <source media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)" srcset="static/img/assets/blog/blog-list-img-1@3x.jpg">
                    <source media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)" srcset="static/img/assets/blog/blog-list-img-1@2x.jpg">
                    <img class="blog__img" src="static/img/assets/blog/blog-list-img-1.jpg" alt="">
                </picture>
            </div>
            <b class="blog__lead">The Guide To Living Creatively</b>
            <p class="blog__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an.</p>
            <a href="#" class="blog__link">Read More</a>
        </li>
        <li class="blog__item">   
            <div class="blog__imgWrap">
                <picture>
                    <source media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)" srcset="static/img/assets/blog/blog-list-img-2@3x.jpg">
                    <source media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)" srcset="static/img/assets/blog/blog-list-img-2@2x.jpg">
                    <img class="blog__img" src="static/img/assets/blog/blog-list-img-2.jpg" alt="">
                </picture>
            </div>
            <b class="blog__lead">Article Name</b>
            <p class="blog__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an.</p>
            <a href="#" class="blog__link">Read More</a>
        </li>
        <li class="blog__item"> 
            <div class="blog__imgWrap">
                <picture>
                    <source media="(min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3)" srcset="static/img/assets/blog/blog-list-img-3@3x.jpg">
                    <source media="(min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)" srcset="static/img/assets/blog/blog-list-img-3@2x.jpg">
                    <img class="blog__img" src="static/img/assets/blog/blog-list-img-3.jpg" alt="">
                </picture>
            </div>
            <b class="blog__lead">The Guide To Living Creatively</b>
            <p class="blog__text">At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an.</p>
            <a href="#" class="blog__link">Read More</a>
        </li>
    </ul>
</section>
