.solutions {
    padding: 90px 10.4% 122px;

    font: 18px/1.5 "Geometria";
    text-align: center;

    @media (max-width: 1279px) {
        padding: 90px 10.4% 100px;
    }

    @media (max-width: 719px) {
        padding: 90px 0 0;
    }
}

.solutions__heading {
    margin: 0 0 54px;
}

.solutions__list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.solutions__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 31.5%;
    min-height: 400px;
    margin: 0 0 32.5px;
    padding: 25px 37px 0;
    border: 1px solid #eeeeee;

    background: #fafafa;
    border-radius: 4px;
    list-style: none;
    transition: background .3s;

    &:hover {
        padding-top: 10px;

        background: #27aae1;

        .solutions__svgItem {
            fill: #ffffff;
        }

        .solutions__link {
            display: block;
        }

        .solutions__lead,
        .solutions__text {
            display: none;
        }
    }

    @media (max-width: 1279px) {
        width: 48%;
    }

    @media (max-width: 719px) {
        width: 100%;
        min-height: 350px;
        margin-bottom: 2px;

        border-radius: 0;

        padding-top: 0;

        &:hover {
            padding-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.solutions__lead {
    display: block;

    margin: 28px 0 12px;

    font: 900 20px/1.25 "Geometria";
    color: #333333;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.solutions__text {
    margin: 0;

    color: #9d9fa2;
}

.solutions__link {
    display: none;

    margin-top: 28px;
    border: 2px solid #ffffff;

    background: transparent;

    color: #ffffff;

    &:hover {
        background: #ffffff;

        color: #27aae1;
    }
}
